hr {
    border: none; /* Remove the default border */
    height: 0.5px; /* Set the height of the line */
    background-color: black;
    width: 100%;/* Add some margin above and below the line */
  }

.list-group button input {
    width: 50px;
}
.list-group button {
    width: 100%;
    
}
.draggableZone {
    transition: 500ms all;
    padding: 5px;
}
table {
    border-collapse: separate;
    border-spacing: 10px;
}