.btn-cr i {
    font-size: 30px;
}
carrousel {
    display: flex;
    width: calc(100% - 40px);
    margin: 20px 20px;
    height: 250px;
    background-color: #212121;
    border-radius: 20px;
    padding: 0px 20px;
}
carrousel .cr-previous {
    position: relative;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}
carrousel .cr-posterior {
    position: relative;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}
carrousel .cr-content {
    display: inline-flex;
    width: 100%;
    margin: 10px;
}
carrousel .cr-content .card {
    transition: 200ms transform;
    position: relative;
    height: 230px;
    width: 190px;
    border-radius: 25px;
    transform: translateY(0px);
    cursor: pointer;
}
carrousel .cr-content .card:hover {    
    transform: translateY(-5px);
}
carrousel .cr-content .card img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
}