#detail-view-top-container {
    display: flex;
    flex-wrap: wrap;
}
#detail-view-top-container .placeholder {
    order: 0;
}
#detail-view-top-container img.detail-view-img-logo {
    order: 1;
}
#detail-view-top-container .description {
    order: 2;
    margin-left: 20px;
    margin-top: 20px;
    font-family: 'Comfortaa', cursive;
    width: calc(100% - 400px);
    text-align: justify;
}
@media (max-width: 730px) {
    #detail-view-top-container .description {
        width: 100%;
    }
}
/* Detail close button position */
#detail-close {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 20px;
}