#detail-view-top-container {
    display: flex;
}
#detail-view-top-container .placeholder {
    order: 0;
}
#detail-view-top-container img.detail-view-img-logo {
    order: 1;
}
#detail-view-top-container .description {
    order: 2;
}