/* Ripple effect */
.ripple {
    background-position: center;
    transition: background 0.8s;
  }
  .ripple:hover {
    background: #69258a radial-gradient(circle, transparent 1%, #69258a 1%) center/15000%;
  }
  .ripple:active {
    background-color: #aa3edf;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
.btn-cr {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #792b9f;
    box-shadow: 0 0 4px #999;
    outline: none;
}