appbar {
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: #f4f4f4;
   background-image: url(backgrounds/Beach.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 130px;
   width: calc(100% - 40px);
   margin: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
   z-index: 10;
   animation-name: appbarAnim;
   animation-duration: 2s;
   animation-delay: 0s;
   animation-fill-mode: forwards;
}
@media (max-width: 560px) {
    appbar {
        height: 330px;
    }
}
appbarimg {
    z-index: 15;
}
@keyframes appbarAnim {
    0%, 30% {
        position: fixed;
        top: 0px;
        left: 0px;
        border-radius: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
    }
    50% {
        border-radius: 50px;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        margin: 10px 20px;
    }
    100% {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
appbar .title {
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-family: 'Carter One', cursive;
    animation-name: changeFont;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    z-index: 20;
}
appbar .phrases {
    max-lines: 1;
    height: 20px;
    z-index: 20;
}
appbar .phrases::before {
    position: absolute;
    top: 95px;
    text-align: center;
    content: 'Un lugar donde la productividad se potencia con apps inteligentes.';
    transform: translateX(-50%);
    animation-name: phrasesAnim, changeContent;
    animation-duration: 2s, 20s;
    animation-delay: 2s, 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;   
    width: 100%; 
    z-index: 20;
    opacity: 0;
}
@keyframes changeContent {
    0% {
        content: 'Un lugar donde la productividad se potencia con apps inteligentes.';
    }
    10% {
        content: 'Un lugar donde encuentras las mejores apps a tu alcance.';
    }
    20% {
        content: 'Un lugar donde cada toque en la pantalla abre un nuevo mundo.';
    }
    30% {
        content: 'Un lugar donde la tecnología y la creatividad convergen en apps sorprendentes.';
    }
    40% {
        content: 'Un lugar donde la funcionalidad se encuentra con la diversión.';
    }
    50% {
        content: 'Un lugar donde exploras un universo de posibilidades móviles.';
    }
    60% {
        content: 'Un lugar donde tus necesidades encuentran su aplicación perfecta.';
    }
    70% {
        content: 'Un lugar donde la personalización es la clave de cada aplicación.';
    }
    80% {
        content: 'Un lugar donde las aplicaciones transforman tu mundo.';
    }
    90% {
        content: 'Un lugar donde las ideas cobran vida digitalmente.';
    }
}
@keyframes phrasesAnim {
    0% {
        opacity: 0;
        top: 105px;
    }
    33%, 66% {
        opacity: 1;
        top: 95px;
    }
    100% {
        opacity: 0;
        top: 85px;
    }
}
@keyframes changeFont {
    0% {
        font-family: 'Carter One', cursive;
    }
    10% {
        font-family: 'Frijole', cursive;
    }
    20% {
        font-family: 'Fasthand', cursive;
    }
    30% {
        font-family: 'Luckiest Guy', cursive;
    }
    40% {
        font-family: 'Great Vibes', cursive;
    }
    50% {
        font-family: 'Monoton', cursive;
    }
    60% {
        font-family: 'Kablammo', cursive;
    }
    70% {
        font-family: 'Press Start 2P', cursive;
    }
    80% {
        font-family: 'Lobster', cursive;
    }
    90% {
        font-family: 'Yellowtail', cursive;
    }
}