appbar {
   position: absolute;
   top: 0px;
   left: 0px;
   background-color: #f4f4f4;
   height: 100px;
   width: calc(100% - 40px);
   margin: 10px 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
}
appbar .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-family: 'Carter One', cursive;
}
appbar .phrases {
    position: relative;
    bottom: 0px;
    text-align: center;
}